html{
    scroll-behavior: smooth;
}

body{

    background-image: url("images/flowers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.header{
    position: fixed;
}

.website-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation-bar{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: bold;
}

.nav-bar-link{
    margin-right: 40px;
    margin-left: 40px;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-decoration: none;
}

.welcome-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.welcome-image{
    margin-top: 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    height: auto;
}

.intro-div{
    margin-top: 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
    background: white;
}






